* {
  box-sizing: border-box;
}

html {
  /*font-family: Helvetica Neue, Helvetica, sans-serif;*/
  font-family: "Shrikhand", cursive;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-page {
  height: 100%;
  width: 100%;
}

.landing-page:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url(/public/img/kevin-bacon-cold.jpg);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.front-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  /*font-family: "Shrikhand", cursive;*/
  font-weight: bold;
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 2px 0 black, 0 -2px black;
  font-size: 4em;
}

.start-button {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
  width: 95%;
  height: 70px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1.8em;
}
