* {
  box-sizing: border-box;
}

html {
  /*font-family: Helvetica Neue, Helvetica, sans-serif;*/
  font-family: "Shrikhand", cursive;
  background-color: white;
  color: black;
}

.landing-container,
.game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url(/public/img/kevin-bacon-cold.jpg);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.front-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  font-weight: bold;
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 2px 0 black, 0 -2px black;
  font-size: 3.6em;
}

.start-button {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
  width: 95%;
  height: 70px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1.8em;
}

.current-traceable {
  position: absolute;
  margin: 0 auto;
}

.current-traceable.starting {
  top: 4%;
}

.current-traceable.ending {
  bottom: 4%;
}

.current-traceable > .possible-path {
  display: flex;
  justify-content: center;
}

.current-traceable.pending-path {
  width: 100%;
}

.traceable > img {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.traceable-large img {
  --default-width: 110px;

  height: calc(var(--default-width) * 1.5);
  width: calc(var(--default-width));
  height: width * 1.5;
}

.traceable-small > img {
  --default-width: 65px;

  height: calc(var(--default-width) * 1.5);
  width: calc(var(--default-width));
  height: width * 1.5;
}

@keyframes loadingBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img.loading-traceable {
  animation: loadingBlink 2s;
  animation-iteration-count: infinite;
}

.paths-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.paths-container .traceable {
  margin: 8px;
}

.pending-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending-path > h4 {
  margin: 0 auto;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}

.winning-path > .traceable > img {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.results-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.synopsis {
  position: relative;
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.synopsis > div {
  width: 25%;
  margin: 10px;
}

.degrees-count {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.degrees-count > h1 {
  margin: 0 auto;
  margin-top: 5px;
  font-size: 4em;
}

.paths-chosen-container > .traceable {
  width: 60%;
  height: 98px;
  margin: 0 auto;
  display: flex;
}

.paths-chosen-container > .traceable-actor {
  justify-content: flex-end;
}

.clickable-path {
  width: 25%;
  margin: 30px auto;
}

.clickable-path > button {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1em;
}

.movie-hints-container {
  position: absolute;
  bottom: 15%;
  width: 75%;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-hints-container > .traceable > img {
  opacity: 0.65;
}

.modify-game {
  position: absolute;
  width: 25%;
  bottom: 5%;
}

.how-to-play {
  left: 20px;
}

.new-players,
.end-game {
  right: 20px;
}

.modify-game button {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1em;
}

.end-game-buttons {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-game-buttons div {
  width: 45%;
  margin: 0 auto;
}

button.end-game {
  background-color: black;
  margin: 20px auto;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 1em;
}
